// Blue -- 4 Degrees
$primary-blue: #0159A3;
$secondary-blue : #07294d ;

// Orange
$primary-orange : #FF8219 ; 

// Yellow
$primary-yellow : #F8BD07 ; 

// Grey 
$primary-grey : #7A7A7A ; 
$border-gray: #d7d7db;
$progress-background-gray: #e3e3e4;
